
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
  }
  
  
  h1 {
	text-align: center;
	background-color: #0077b6;
	color: #fff;
	padding: 20px 0;
	margin: 0;
  }
  

  #loadResults {
	display: block;
	margin: 20px auto;
	padding: 10px 20px;
	background-color: #0077b6;
	color: #fff;
	border: none;
	cursor: pointer;
  }
  

#button1,
#button2 {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #0077b6;
    color: #fff;
    border: none;
    cursor: pointer;
}


  table {
	width: 80%;
	margin: 20px auto;
	border-collapse: collapse;
	background-color: #fff;
  }
  
  
  th {
	background-color: #0077b6;
	color: #fff;
	padding: 10px;
  }
  

  td {
	padding: 10px;
	text-align: center;
  }
  
  #resultsTable {
	display: none;
  }
  
  tr:nth-child(odd) {
	background-color: #f2f2f2;
  }
  

  tr:hover {
	background-color: #d9d9d9;
  }
  